openapi: 3.0.0
info:
  title: ooic-core
  description: |-
    Opus Open Client - Core de gestão de consentimentos

    # Dados Cadastrais e Transacionais

    Para mais informações sobre o fluxo de criação de consentimento,
    leia a documentação sobre [Utilização](../readme.md).
  version: 1.0.0
tags:
  - name: Opus Open Insurance
    description: |-
      Endpoints de gestão de consentimentos
  - name: Resources
    description: |-
      Endpoints de listagem de recursos vinculados ao consentimento. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Resources](https://br-openinsurance.github.io/areadesenvolvedor/#api-resources)).
  - name: Dados Cadastrais
    description: |-
      Endpoints de consulta a dados cadastrais do cliente. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Customers](https://br-openinsurance.github.io/areadesenvolvedor/#api-customers)).
  - name: Aceitação e Sucursal
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API AcceptanceAndBranchesAbroad](https://br-openinsurance.github.io/areadesenvolvedor/#api-acceptance-and-branches-abroad)).
  - name: Automóvel
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Auto](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-auto)).
  - name: Riscos Financeiros
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API FinancialRisk](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-financial-risk)).
  - name: Habitacional
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Housing](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-housing)).
  - name: Patrimonial
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Patrimonial](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-patrimonial)).
  - name: Transportes
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Transport](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-transport)).
  - name: Responsabilidade
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Responsibility](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-responsibility)).
  - name: Rural
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Rural](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-rural)).
  - name: Previdência Risco
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API PensionPlan](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-pension-plan)).
  - name: Previdência Sobrevivência
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API LifePension](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-life-pension)).
  - name: Pessoas
    description: |-
      Endpoints de consulta a dados de informações de apólice, prêmio e sinistro. Os modelos de dados esperados e retornados são os mesmos que os definidos pela documentação oficial ([Open Insurance - API Person](https://br-openinsurance.github.io/areadesenvolvedor/#api-insurance-person)).
  - name: Deeplinks
    description: |-
      Endpoints para obtenção das configurações de iOS Universal Links e Android App Links para que o aplicativo da Instituição receptora possa interceptar URLs.
servers:
  - url: https://open-insurance-core.instituicao.com.br
paths:
  /.well-known/assetlinks.json:
    get:
      tags:
        - Deeplinks
      operationId: ooicDeeplinksGetAssetLinks
      description: Método para obtenção do conteúdo do arquivo assetlinks.json
      summary: Obter arquivo de configuração Android App Links
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetLinks'
  /.well-known/apple-app-site-association:
    get:
      tags:
        - Deeplinks
      operationId: ooicDeeplinksGetAppleAppSiteAssociation
      description: Método para obtenção do conteúdo do arquivo apple-app-site-association
      summary: Obter arquivo de configuração Apple App Site Association
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /opus-open-insurance/open-insurance/consents/v1/consents:
    post:
      tags:
        - Opus Open Insurance
      operationId: ooicConsentsPostConsents
      description: Método para criação de um novo pedido de consentimento.
      summary: Criar novo pedido de consentimento.
      externalDocs:
        description: Open Insurance - API Consentimento
        url: https://br-openinsurance.github.io/areadesenvolvedor/#api-consents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsentRequest'
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConsentResponse'
        default:
          description: Erro enviado pela transmissora, respeitando o padrão definido pela Susep
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-insurance/open-insurance/consents/v1/consents/{consentId}/authorisation-retry:
    post:
      tags:
        - Opus Open Insurance
      operationId: ooicConsentsPostConsentsConsentIdAuthorisationRetry
      description: Método de geração de uma nova URL de autorização para o consentimento identificado por consentId
      summary: Gerar nova URL de autorização para o consentimento identificado por consentId.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetryConsentRequest'
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/consentId'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryConsentResponse'
  /opus-open-insurance/open-insurance/consents/v1/consents/{consentId}:
    get:
      tags:
        - Opus Open Insurance
      operationId: ooicConsentsGetConsentsConsentId
      description: Método de detalhamento de um consentimento identificado por consentId
      summary: Obter detalhes do consentimento identificado por consentId.
      externalDocs:
        description: Open Insurance - API Consentimento
        url: https://br-openinsurance.github.io/areadesenvolvedor/#api-consents
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/consentId'
      responses:
        '200':
          description: Consentimento consultado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConsentResponse'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Erro enviado pela transmissora, respeitando o padrão definido pela Susep
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Opus Open Insurance
      operationId: ooicConsentsDeleteConsentsConsentId
      description: Método para deletar / revogar o consentimento identificado por consentId
      summary: Deletar / Revogar o consentimento identificado por consentId.
      externalDocs:
        description: Open Insurance - API Consentimento
        url: https://br-openinsurance.github.io/areadesenvolvedor/#api-consents
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/consentId'
      responses:
        '204':
          description: Consentimento revogado com sucesso.
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Erro enviado pela transmissora, respeitando o padrão definido pela Susep
          content:
            application/jwt:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-insurance/participants:
    get:
      tags:
        - Opus Open Insurance
      operationId: ooicGetParticipants
      description: Método para obtenção dos participantes registrados no diretório
      summary: Detalhamento dos participantes registrados no diretório, identificando suas APIs
      parameters:
       - in: query
         name: role
         schema:
           type: string
         description: Filtra OrgDomainRoleClaims contendo role informado. Os tipos de role estão sujeitos a mudanças.
       - in: query
         name: familyType
         schema:
           type: string
         description: Filtra ApiResources contendo familyType informado
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantsResponse'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a API de participantes da Susep
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a API de participantes da Susep
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-insurance/dcm:
    get:
      operationId: oofiGetDcm
      description: Método para obtenção dos dados de dcm de todas as brand clients da aplicação.
      tags:
        - Opus Open Insurance
      summary: Detalhamento da situação de dcm dos brand clients.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DcmData'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a API de participantes do BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      operationId: ooicPutDcm
      description: Método para atualização dos dados de dcm de todas as brand clients da aplicação.
      tags:
        - Opus Open Insurance
      summary: Atualização dos dados de dcm dos brand clients.
      parameters:
        - $ref: '#/components/parameters/applicationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDcmRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DcmData'
        '502':
          description: Erro no Opus Open Client ao se comunicar com a detentora de conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a API de participantes do BACEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /opus-open-insurance/authorization-result:
    post:
      tags:
        - Opus Open Insurance
      operationId: ooicAppToAppAuthorizationResult
      description: Método utilizado no fluxo App-To-App para que haja troca do authorization code retornado pelos tokens ou para que o tratamento de eventuais erros de autorização aconteça.
      summary: Enviar retorno do fluxo OIDC ao Opus TPP.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppToAppAuthorizationResultRequest'
      responses:
        '204':
          description: Sucesso no processo de autorização
        '422':
          description: Erro no processo de autorização
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppToAppAuthorizationErrorResponse'
  /proxy/open-insurance/resources/v1/resources:
    get:
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: Método de proxy para obter a lista de recursos mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/customers/v1/personal/identifications:
    get:
      tags:
        - Dados Cadastrais
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método de proxy para obter os registros de identificação da pessoa natural mantidos na instituição transmissora.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/customers/v1/business/identifications:
    get:
      tags:
        - Dados Cadastrais
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método de proxy para obter os registros de identificação da pessoa jurídica mantidos na instituição transmissora'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/customers/v1/personal/qualifications:
    get:
      tags:
        - Dados Cadastrais
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método de proxy para obter os registros de qualificação da pessoa natural mantidos na instituição transmissora.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/customers/v1/business/qualifications:
    get:
      tags:
        - Dados Cadastrais
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método de proxy para obter os registros de qualificação da pessoa jurídica mantidos na instituição transmissora.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/customers/v1/personal/complimentary-information:
    get:
      tags:
        - Dados Cadastrais
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter registros de relacionamentos com a instituição e de representantes da pessoa natural mantidos na instituição transmissora.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/customers/v1/business/complimentary-information:
    get:
      tags:
        - Dados Cadastrais
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter registros de relacionamentos com a instituição e de representantes da pessoa jurídica mantidos na instituição transmissora.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-acceptance-and-branches-abroad/v1/insurance-acceptance-and-branches-abroad:
    get:
      tags:
        - Aceitação e Sucursal
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Aceitação e Sucursal'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-acceptance-and-branches-abroad/v1/insurance-acceptance-and-branches-abroad/{policyId}/policy-info:
    get:
      tags:
        - Aceitação e Sucursal
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-acceptance-and-branches-abroad/v1/insurance-acceptance-and-branches-abroad/{policyId}/premium:
    get:
      tags:
        - Aceitação e Sucursal
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-acceptance-and-branches-abroad/v1/insurance-acceptance-and-branches-abroad/{policyId}/claim:
    get:
      tags:
        - Aceitação e Sucursal
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-auto/v1/insurance-auto:
    get:
      tags:
        - Automóvel
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Automóvel'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-auto/v1/insurance-auto/{policyId}/policy-info:
    get:
      tags:
        - Automóvel
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-auto/v1/insurance-auto/{policyId}/premium:
    get:
      tags:
        - Automóvel
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-auto/v1/insurance-auto/{policyId}/claim:
    get:
      tags:
        - Automóvel
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-financial-risk/v1/insurance-financial-risk:
    get:
      tags:
        - Riscos Financeiros
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Riscos Financeiros'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-financial-risk/v1/insurance-financial-risk/{policyId}/policy-info:
    get:
      tags:
        - Riscos Financeiros
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-financial-risk/v1/insurance-financial-risk/{policyId}/premium:
    get:
      tags:
        - Riscos Financeiros
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-financial-risk/v1/insurance-financial-risk/{policyId}/claim:
    get:
      tags:
        - Riscos Financeiros
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-housing/v1/insurance-housing:
    get:
      tags:
        - Habitacional
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Habitacional'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-housing/v1/insurance-housing/{policyId}/policy-info:
    get:
      tags:
        - Habitacional
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-housing/v1/insurance-housing/{policyId}/premium:
    get:
      tags:
        - Habitacional
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-housing/v1/insurance-housing/{policyId}/claim:
    get:
      tags:
        - Habitacional
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-patrimonial/v1/insurance-patrimonial:
    get:
      tags:
        - Patrimonial
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Patrimonial'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-patrimonial/v1/insurance-patrimonial/{policyId}/policy-info:
    get:
      tags:
        - Patrimonial
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-patrimonial/v1/insurance-patrimonial/{policyId}/premium:
    get:
      tags:
        - Patrimonial
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-patrimonial/v1/insurance-patrimonial/{policyId}/claim:
    get:
      tags:
        - Patrimonial
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-transport/v1/insurance-transport:
    get:
      tags:
        - Transportes
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Transportes'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-transport/v1/insurance-transport/{policyId}/policy-info:
    get:
      tags:
        - Transportes
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-transport/v1/insurance-transport/{policyId}/premium:
    get:
      tags:
        - Transportes
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-transport/v1/insurance-transport/{policyId}/claim:
    get:
      tags:
        - Transportes
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-responsibility/v1/insurance-responsibility:
    get:
      tags:
        - Responsabilidade
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Responsabilidade'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/policy-info:
    get:
      tags:
        - Responsabilidade
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/premium:
    get:
      tags:
        - Responsabilidade
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/claim:
    get:
      tags:
        - Responsabilidade
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-rural/v1/insurance-rural:
    get:
      tags:
        - Rural
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de Rural'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-rural/v1/insurance-rural/{policyId}/policy-info:
    get:
      tags:
        - Rural
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter as informações gerais da apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-rural/v1/insurance-rural/{policyId}/premium:
    get:
      tags:
        - Rural
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de prêmio da apólice.'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-rural/v1/insurance-rural/{policyId}/claim:
    get:
      tags:
        - Rural
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-pension-plan/v1/insurance-pension-plan/contracts:
    get:
      tags:
        - Previdência Risco
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de InsurancePensionPlan'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-pension-plan/v1/insurance-pension-plan/{pensionIdentification}/contract-info:
    get:
      tags:
        - Previdência Risco
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter as informações gerais de contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-pension-plan/v1/insurance-pension-plan/{pensionIdentification}/movements:
    get:
      tags:
        - Previdência Risco
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de contribuições do contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-pension-plan/v1/insurance-pension-plan/{pensionIdentification}/portabilities:
    get:
      tags:
        - Previdência Risco
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de portabilidades associadas ao contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-pension-plan/v1/insurance-pension-plan/{pensionIdentification}/withdrawals:
    get:
      tags:
        - Previdência Risco
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de resgates associados ao contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-pension-plan/v1/insurance-pension-plan/{pensionIdentification}/claim:
    get:
      tags:
        - Previdência Risco
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de sinistro associados ao contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-life-pension/v1/insurance-life-pension/contracts:
    get:
      tags:
        - Previdência Sobrevivência
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de InsuranceLifePension'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-life-pension/v1/insurance-life-pension/{pensionIdentification}/contract-info:
    get:
      tags:
        - Previdência Sobrevivência
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter as informações gerais do contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-life-pension/v1/insurance-life-pension/{pensionIdentification}/movements:
    get:
      tags:
        - Previdência Sobrevivência
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de movimentação do contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-life-pension/v1/insurance-life-pension/{pensionIdentification}/portabilities:
    get:
      tags:
        - Previdência Sobrevivência
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de portabilidades associadas ao contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-life-pension/v1/insurance-life-pension/{pensionIdentification}/withdrawals:
    get:
      tags:
        - Previdência Sobrevivência
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de resgates associados ao contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-life-pension/v1/insurance-life-pension/{pensionIdentification}/claim:
    get:
      tags:
        - Previdência Sobrevivência
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/pensionIdentification'
      description: 'Método para obter os dados de sinistro associados ao contrato'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-person/v1/insurance-person:
    get:
      tags:
        - Pessoas
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
      description: 'Método para obter a lista de identificação de InsurancePerson'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-person/v1/insurance-person/{policyId}/policy-info:
    get:
      tags:
        - Pessoas
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter informações gerais de apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-person/v1/insurance-person/{policyId}/claim:
    get:
      tags:
        - Pessoas
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de sinistro associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
  /proxy/open-insurance/insurance-person/v1/insurance-person/{policyId}/movements:
    get:
      tags:
        - Pessoas
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/authorisationServerId'
        - $ref: '#/components/parameters/headerConsentId'
        - $ref: '#/components/parameters/policyId'
      description: 'Método para obter os dados de contribuições associados à apólice'
      responses:
        '502':
          description: Erro no Opus Open Client ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '504':
          description: Tempo limite de conexão excedido ao se comunicar com a transmissora
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        default:
          description: Segue o padrão de resposta definido pela Susep
components:
  schemas:
    DcmData:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DcmStatus'
    DcmStatus:
      type: object
      required:
        - brandId
        - dcmVersion
        - dcmDate
      properties:
        brandId:
          type: string
          maxLength: 40
          example: a9e62501-0b91-4af9-837d-c2d210736f28
        dcmVersion:
          type: string
          maxLength: 20
          example: '2.0'
        dcmDate:
          description: 'Data e hora da realização do dcm da versão indicada, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2023-07-07T09:30:00Z'
        status:
          type: string
          maxLength: 20
          example: 'success'
    PutDcmRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - version
          properties:
            version:
              type: string
              description: String da versao
              example: '1'
    AssetLinks:
      type: array
      items:
        type: object
        properties:
          relation:
            type: array
            items:
              type: string
              example: 'delegate_permission/common.handle_all_urls'
          target:
            type: object
            properties:
              namespace:
                type: string
                example: 'android_app'
              package_name:
                type: string
                example: 'example.com'
              sha256_cert_fingerprints:
                type: array
                items:
                  type: string
                  example: 'A1:22:30:35:08:85:CC:4D:B6:A6:6C:02:4C:9F:3C:FE:07:CA:39:4C:66:30:C0:1F:00:FA:43:BE:3E:8E:94:3D'
    AppleAppSiteAssociation:
      type: object
      properties:
        applinks:
          type: object
          properties:
            apps:
              type: array
              items:
                type: object
            details:
              type: array
              items:
                type: object
                properties:
                  appID:
                    type: string
                    example: 'app.native.example'
                  paths:
                    type: array
                    items:
                      type: string
                      example: '/auth/handoff/*'
                  appIDs:
                    type: array
                    items:
                      type: string
                      example: 'app.native.example'
                  components:
                    type: array
                    items:
                      type: object
                      properties:
                        /:
                          type: string
                          example: '/auth/auth'
    AppToAppAuthorizationResultRequest:
      type: object
      properties:
        data:
          type: string
          example: 'code=LxSevzQNevQJM0yx4dhPo4oJHdYhAHG808ssYF2OlzC&id_token=eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkVKU01fbW1UMV9qTTVieTM5aEttR01BSWNTM2lzQ3BPSlB5NVdnUmY3RUUifQ.eyJzdWIiOiJPRkMtNDkzOGI1ODIzZWQzNjMxNmQyZTVjYzY5M2YxNzljMTJjNTE0MjNlYTQ0NzJiYjgyZWI5YWYzNTE0NjEyYmI2MSIsImF1dGhfdGltZSI6MTY5NTY3NjE2MCwiYWNyIjoidXJuOmJyYXNpbDpvcGVuYmFua2luZzpsb2EyIiwibm9uY2UiOiIzNjE2YzM3NWFjMDZlODBjMTk3MjljMTkwOGEzYjkxMGQ3ODVlYzViZTkxOTZhN2YyZjllZjhmNDI1YmVlNWMxIiwiY19oYXNoIjoiRUVMd2FoU1FQUGt2WEZWZzJOZnRHUSIsInNfaGFzaCI6IndPN1hZbFB1c1FZMGtwOG1Ucmw3WVEiLCJhdWQiOiI1aUtkV3JCdlhFRjJHNWgwZ1RaMkMiLCJleHAiOjE2OTU2NzcwNjAsImlhdCI6MTY5NTY3NjE2MCwiaXNzIjoiaHR0cHM6Ly9vYmIucWEub29iLm9wdXMtc29mdHdhcmUuY29tLmJyLyJ9.SNBN_Buh_Y0iLuJGP4bgSHYnSKC_g76R0CpWEVRJua788RNoJpAzhAm6Ah6vOb2nD-H4Yq2MAjRy_Fkh7ruziBaJ4ebDexxQ2GAocBgrmQ2JwI-Q-1D4Xm1WuSS6OSm04Kk0CiV8MylidwxF_4XS40uWqxTJQcgG8dP4NC9-ty8S6a-6oGs0MekjOqm9mU0aFDwS8fRGZ8TU-8AT15hiMQ9sXsgNlfrci0MQi9Jb6t9o4c93mKCLhGypYswjs1MjVoXD3K6btZ2NSZYBQROtTK_tl9HkvW1uRVhNVZjzwDs1DJrvZpLP48es8YPxFtYAAKsuwiB8bza58MYKvvW81A&state=dXJuOmFtYXppbmdiYW5rOjdlOWYxMDhmLWE3MDktNDBlNi1iMzQ2LTNjNGZiMzBjNjcyNnwx'
    AppToAppAuthorizationErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: 'access_denied'
        error_description:
          type: string
          example: 'Error in user authentication'
    ParticipantsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Participants'
    Participants:
      type: object
      required:
        - OpenIDDiscoveryDocument
        - CustomerFriendlyName
        - CustomerFriendlyLogoUri
        - Organisations
        - AuthorisationServerIds
        - ApiResources
      properties:
        OpenIDDiscoveryDocument:
          type: string
          format: uri
          maxLength: 2000
          description: URI de discovery do Authorisation Server da transmissora
          example: 'https://open-finance.transmissora.com.br/.well-known/openid-configuration'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        CustomerFriendlyName:
          type: string
          maxLength: 255
          example: 'Transmissora Open Insurance'
        CustomerFriendlyLogoUri:
          type: string
          format: uri
          maxLength: 2000
          example: 'https://cdn.raidiam.io/directory-ui/brand/obbrazil/0.2.0.112/favicon.svg'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        CustomerFriendlyDescription:
          type: string
          maxLength: 255
          example: "Descrição da transmissora Open Insurance"
        Organisations:
          type: array
          minLength: 1
          items:
            required:
              - OrganisationId
              - RegistrationNumber
            properties:
              OrganisationId:
                type: string
                description: Identificador unico da organização
                minLength: 1
                maxLength: 40
                example: 'ce31b1e1-71c5-4918-ba5b-3e8f6401c71f'
              RegisteredName:
                type: string
                maxLength: 256
                example: 'Transmissora S.A.'
              RegistrationNumber:
                type: string
                maxLength: 256
                example: '60663556000104'
              ParentOrganisationReference:
                type: string
                maxLength: 65535
                example: '60701190000104'
        OrgDomainRoleClaims:
          type: array
          minLength: 1
          items:
            required:
              - Status
              - role
            properties:
                Status:
                  type: string
                  example: Active
                role:
                  $ref: '#/components/schemas/EnumRole'
        AuthorisationServerIds:
          type: array
          items:
            type: string
            maxLength: 40
            example: a9e62501-0b91-4af9-837d-c2d210736f28
        ApiResources:
          type: array
          items:
            properties:
              ApiFamilyType:
                type: string
                minLength: 1
                maxLength: 40
                example: consents
              ApiVersion:
                type: number
                example: 1
    Meta:
      type: object
      description: Meta informações referente à API requisitada.
      required:
        - totalRecords
        - totalPages
        - requestDateTime
      properties:
        totalRecords:
          type: integer
          format: int32
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Número total de páginas no resultado
          example: 1
        requestDateTime:
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
      additionalProperties: false
    GetConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - consentId
            - consent
          properties:
            consentId:
              description: |
                O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
                Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource
                Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN
                seja um identificador de recurso persistente e independente da localização.
                Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:
                - o namespace(urn)
                - o identificador associado ao namespace da instituição transnmissora (bancoex)
                - o identificador específico dentro do namespace (C1DD33123).
                Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: object
              description: Objeto de consentimento retornado pela transmissora conforme padrão definido pela Susep - https://br-openinsurance.github.io/areadesenvolvedor/#api-consents
    RetryConsentRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - callbackApplicationUri
          properties:
            callbackApplicationUri:
                type: string
                format: uri
                maxLength: 2000
                description: URI de callback da aplicação após o processo de autenticação
                example: 'https://aplicativo.instituicao.com.br'
                pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
    CreateConsentRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - callbackApplicationUri
            - permissions
            - loggedUser
            - expirationDateTime
          properties:
            callbackApplicationUri:
              type: string
              format: uri
              maxLength: 2000
              description: URI de callback da aplicação após o processo de autenticação
              example: 'https://aplicativo.instituicao.com.br'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            loggedUser:
              $ref: '#/components/schemas/LoggedUser'
            businessEntity:
              $ref: '#/components/schemas/BusinessEntity'
            permissions:
              type: array
              items:
                description: Somente para consentimentos de compartilhamento de dados. Especifica os tipos de permissões de acesso às APIs no escopo do Open Insurance Brasil - Fase 2, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.
                type: string
                enum:
                  - CUSTOMERS_PERSONAL_IDENTIFICATIONS_READ
                  - CUSTOMERS_PERSONAL_ADDITIONALINFO_READ
                  - CUSTOMERS_PERSONAL_QUALIFICATION_READ
                  - CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ
                  - CUSTOMERS_BUSINESS_QUALIFICATION_READ
                  - CUSTOMERS_BUSINESS_ADDITIONALINFO_READ
                  - CAPITALIZATION_TITLE_READ
                  - CAPITALIZATION_TITLE_PLANINFO_READ
                  - CAPITALIZATION_TITLE_EVENTS_READ
                  - CAPITALIZATION_TITLE_SETTLEMENTS_READ
                  - PENSION_RISK_READ
                  - PENSION_RISK_CONTRACTINFO_READ
                  - PENSION_RISK_CONTRIBUTIONS_READ
                  - DAMAGES_AND_PEOPLE_PATRIMONIAL_READ
                  - DAMAGES_AND_PEOPLE_PATRIMONIAL_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_PATRIMONIAL_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_PATRIMONIAL_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_RESPONSIBILITY_READ
                  - DAMAGES_AND_PEOPLE_RESPONSIBILITY_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_RESPONSIBILITY_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_RESPONSIBILITY_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_TRANSPORT_READ
                  - DAMAGES_AND_PEOPLE_TRANSPORT_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_TRANSPORT_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_TRANSPORT_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_FINANCIAL_RISKS_READ
                  - DAMAGES_AND_PEOPLE_FINANCIAL_RISKS_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_FINANCIAL_RISKS_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_FINANCIAL_RISKS_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_RURAL_READ
                  - DAMAGES_AND_PEOPLE_RURAL_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_RURAL_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_RURAL_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_AUTO_READ
                  - DAMAGES_AND_PEOPLE_AUTO_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_AUTO_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_HOUSING_READ
                  - DAMAGES_AND_PEOPLE_HOUSING_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_HOUSING_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_HOUSING_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_ACCEPTANCE_AND_BRANCHES_ABROAD_READ
                  - DAMAGES_AND_PEOPLE_ACCEPTANCE_AND_BRANCHES_ABROAD_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_ACCEPTANCE_AND_BRANCHES_ABROAD_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_ACCEPTANCE_AND_BRANCHES_ABROAD_CLAIM_READ
                  - DAMAGES_AND_PEOPLE_PERSON_READ
                  - DAMAGES_AND_PEOPLE_PERSON_POLICYINFO_READ
                  - DAMAGES_AND_PEOPLE_PERSON_PREMIUM_READ
                  - DAMAGES_AND_PEOPLE_PERSON_CLAIM_READ
                  - RESOURCES_READ
              minItems: 1
              maxItems: 30
              example:
               - PENSION_RISK_READ
               - CAPITALIZATION_TITLE_READ
               - RESOURCES_READ
            expirationDateTime:
              description: 'Data e hora de expiração da permissão. De preenchimento obrigatório, reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).'
              type: string
              maxLength: 20
              format: date-time
              example: '2021-05-21T08:30:00Z'
          additionalProperties: false
      additionalProperties: false
    RetryConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - redirectUrl
            - consentId
            - consent
          properties:
            redirectUrl:
              type: string
              format: uri
              maxLength: 2000
              description: URI de redirecionamento para o authorisation Server da transmissora a fim de solicitar aprovação do consentimento
              example: 'https://authorisation-server.transmissora.com.br/'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            consentId:
              description: |
                O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
                Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource
                Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN
                seja um identificador de recurso persistente e independente da localização.
                Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:
                - o namespace(urn)
                - o identificador associado ao namespace da instituição transnmissora (bancoex)
                - o identificador específico dentro do namespace (C1DD33123).
                Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: object
              description: Objeto de consentimento retornado pela transmissora conforme padrão definido - https://br-openinsurance.github.io/areadesenvolvedor/#api-consents-v2
    CreateConsentResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - redirectUrl
            - consentId
            - consent
          properties:
            redirectUrl:
              type: string
              format: uri
              maxLength: 2000
              description: URI de redirecionamento para o authorisation Server da transmissora a fim de solicitar aprovação do consentimento
              example: 'https://authorisation-server.transmissora.com.br/'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            consentId:
              description: |
                O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
                Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource
                Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN
                seja um identificador de recurso persistente e independente da localização.
                Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:
                - o namespace(urn)
                - o identificador associado ao namespace da instituição transnmissora (bancoex)
                - o identificador específico dentro do namespace (C1DD33123).
                Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
              type: string
              pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
              maxLength: 256
              example: 'urn:bancoex:C1DD33123'
            consent:
              type: object
              description: Objeto de consentimento retornado pela transmissora conforme padrão definido - https://br-openinsurance.github.io/areadesenvolvedor/#api-consents
    LoggedUser:
      type: object
      description: Usuário (pessoa natural) que encontra-se logado na instituição receptora e que iniciará o processo de consentimento para compartilhamento de dados.
      additionalProperties: false
      required:
        - document
      properties:
        document:
          type: object
          additionalProperties: false
          required:
            - identification
            - rel
          properties:
            identification:
              type: string
              maxLength: 11
              description: Número do documento de identificação oficial do usuário.
              example: '11111111111'
              pattern: '^\d{11}$'
            rel:
              type: string
              maxLength: 3
              description: Tipo do documento de identificação oficial do usuário.
              example: CPF
              pattern: '^[A-Z]{3}$'
    BusinessEntity:
      type: object
      description: 'Titular, pessoa jurídica a quem se referem os dados que são objeto de compartilhamento.'
      additionalProperties: false
      required:
        - document
      properties:
        document:
          type: object
          additionalProperties: false
          required:
            - identification
            - rel
          properties:
            identification:
              type: string
              maxLength: 14
              description: Número do documento de identificação oficial do titular pessoa jurídica.
              example: '11111111111111'
              pattern: '^\d{14}$'
            rel:
              type: string
              maxLength: 4
              description: Tipo do documento de identificação oficial do titular pessoa jurídica.
              example: CNPJ
              pattern: '^[A-Z]{4}$'
    UUID:
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
      type: string
      example: '556392bd-b4c2-4cc0-9abe-f2c77a5c5d8f'
    EnumRole:
      type: string
      maxLength: 5
      enum:
        - DADOS
      example: DADOS
      description: |
        Papel regulador da instituição. Os tipos de roles estão sujeitos a mudanças.
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                example: '4XX'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                example: 'Título legível por humanos deste erro específico'
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                example: 'Descrição legível por humanos deste erro específico'
                pattern: '[\w\W\s]*'
                maxLength: 2048
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
  parameters:
    applicationId:
      name: x-application-id
      in: header
      required: true
      description: Identificador do aplicativo que realiza a requisição
      schema:
        $ref: '#/components/schemas/UUID'
    authorisationServerId:
      name: x-authorisation-server-id
      required: true
      description: Identificador do Authorisation Server da trasmissora do consentimento, obtido através da consula da lista de participantes
      in: header
      schema:
        $ref: '#/components/schemas/UUID'
    headerConsentId:
      name: x-consent-id
      required: true
      in: header
      description: Identificador do consentimento a ser utilizado nesta operação, obtido na resposta de sua criação
      schema:
        type: string
        pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
        maxLength: 256
      example: 'urn:bancox:f865cd66-392a-420b-9ff0-1b6d7cc60ee0'
    consentId:
      name: consentId
      required: true
      in: path
      description: |
        O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
        Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource
        Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN
        seja um identificador de recurso persistente e independente da localização.
        Considerando a string urn:prudential:C1DD93123 como exemplo para consentId temos:
        - o namespace(urn)
        - o identificador associado ao namespace da instituição transnmissora (bancox)
        - o identificador específico dentro do namespace (f865cd66-392a-420b-9ff0-1b6d7cc60ee0).
        Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
      schema:
        type: string
        pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
        maxLength: 256
      example: 'urn:bancox:f865cd66-392a-420b-9ff0-1b6d7cc60ee0'
    policyId:
        name: policyId
        in: path
        description: 'Identificador da apólice'
        required: true
        schema:
          type: string
          maxLength: 60
    pensionIdentification:
        name: pensionIdentification
        in: path
        description: 'Código único a ser definido pela sociedade'
        required: true
        schema:
          type: string
          maxLength: 60
